body {
 font-family: Arial, sans-serif;
 margin: 20px;
}

h1 {
 color: #333;
}

button {
 margin: 10px;
 padding: 8px;
 font-size: 16px;
 cursor: pointer;
 border-radius: 5px;
}

#updateButton {
 background-color: rgb(244, 215, 179);
}

#startButton {
 background: rgb(34, 138, 23);
}

#stopButton {
 background: rgb(183, 43, 22);
}

#map {
 height: 60vh;
 width: 100%;
 max-height: 500px;
 margin: 0 auto;
}

#text-input {
 margin-top: 10px;
}

#text-input label {
 margin-right: 10px;
}

#text-input input {
 margin-right: 10px;
}

/* Styles for marker */
.custom-marker {
 background-color: #028a0e; /* Marker background color */
 color: #fff; /* Marker text color */
 padding: 2px;
 border-radius: 50%; /* Circular marker */
 text-align: center;
 font-size: 12px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
 background: #ffffffc0 !important;
}

.element.style {
 min-width: 10px !important;
}

.leaflet-popup-content {
 margin: 2px 18px 2px 5px !important;
 text-align: center;
}

.leaflet-popup-content[style*="width:"] {
 width: auto !important;
}

.leaflet-popup {
 left: -21px !important;
}
